.image {
    width: 100%;
}

.contenedor {
    position: relative;
    width: 100%;
    max-width: 100%px;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }  

 .footer {
    background-color: #212529;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } 

 .card {
  margin: 50px;
}

.gap-botones {
  display: flex;
  gap: 10px;
  
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding: 20px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

form {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.cart {
  padding: 20px;
}

.cart-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin-bottom: 20px;
  border-bottom: 1px dashed #212529;
  padding: 10px 0; 
}

.cart-item img {
  margin-right: 20px; 
}

.button-container {
  display: flex;
  gap: 10px; 
}

.not-found {
  text-align: center;
  margin-top: 335px;
  margin-bottom: 300px;
}

.profile {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 300px;
}







